In [1]:
import pandas as pd

In [2]:
url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'

In [3]:
dframe_list = pd.io.html.read_html(url)

In [4]:
dframe_list

[                                           Bank Name        City  ST   CERT  \
 0                                      Resolute Bank      Maumee  OH  58317
 1                        Louisa Community Bank, Inc.      Louisa  KY  58112
 2                               The Enloe State Bank      Cooper  TX  10716
 3                Washington Federal Bank for Savings     Chicago  IL  30570
 4    The Farmers and Merchants State Bank of Argonia     Argonia  KS  17719
 ..                                               ...         ...  ..    ...
 553                               Superior Bank, FSB    Hinsdale  IL  32646
 554                              Malta National Bank       Malta  OH   6629
 555                  First Alliance Bank & Trust Co.  Manchester  NH  34264
 556                National State Bank of Metropolis  Metropolis  IL   3815
 557                                 Bank of Honolulu    Honolulu  HI  21029

                    Acquiring Institution       Closing Date       Updated Date
 0                     Buckeye State Bank   October 25, 2019   October 25, 2019
 1      Kentucky Farmers Bank Corporation   October 25, 2019   October 25, 2019
 2                     Legend Bank, N. A.       May 31, 2019    August 22, 2019
 3                     Royal Savings Bank  December 15, 2017      July 24, 2019
 4                            Conway Bank   October 13, 2017    August 12, 2019
 ..                                   ...                ...                ...
 553                Superior Federal, FSB      July 27, 2001    August 19, 2014
 554                    North Valley Bank        May 3, 2001  November 18, 2002
 555  Southern New Hampshire Bank & Trust   February 2, 2001  February 18, 2003
 556              Banterra Bank of Marion  December 14, 2000     March 17, 2005
 557                   Bank of the Orient   October 13, 2000     March 17, 2005

 [558 rows x 7 columns]]

In [5]:
dframe_list[0]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019","October 25, 2019"
1,"Louisa Community Bank, Inc.",Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019","October 25, 2019"
2,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019","August 22, 2019"
3,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","July 24, 2019"
4,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","August 12, 2019"
...,...,...,...,...,...,...,...
553,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
554,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
555,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
556,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
557,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

In [7]:
url_spla = 'https://stat.ink/entire/weapons2'

In [8]:
dframe_list_spla = pd.io.html.read_html(url_spla)

In [9]:
dframe_list_spla[0]

,Weapon,Sub Weapon,Special,Players,Win %,Avg Kills,Avg Deaths,Kill Ratio,Kills/min,Deaths/min,Avg Specials,Specials/min,Avg Inked,Inked/min,Inking Performance
0,Sploosh-o-matic,NaN,NaN,213288,51.90%,2.73,3.85,0.710 <,0.901,1.269,2.18,0.717,924.5,304.84,6.360
1,Splat Roller,NaN,NaN,168517,46.59%,3.73,3.80,0.983 <,1.231,1.251,1.26,0.416,630.9,207.96,4.326
2,N-ZAP '89,NaN,NaN,165945,48.43%,2.88,3.18,0.906 <,0.950,1.048,2.57,0.845,834.5,274.82,5.514
3,N-ZAP '85,NaN,NaN,163901,51.05%,3.27,3.56,0.919 <,1.074,1.169,2.20,0.722,842.9,277.00,5.696
4,Splattershot,NaN,NaN,147358,49.10%,3.73,3.72,1.000 >,1.222,1.221,1.48,0.486,764.7,250.74,5.220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,Rapid Blaster Pro Deco,NaN,NaN,3783,43.85%,2.94,3.21,0.915 <,0.965,1.055,1.93,0.635,646.8,212.41,4.281
135,Tenta Camo Brella,NaN,NaN,3509,49.42%,2.78,3.56,0.780 <,0.927,1.188,1.91,0.636,789.0,263.00,5.334
136,Permanent Inkbrush,NaN,NaN,3072,52.21%,2.51,3.36,0.747 <,0.834,1.117,2.70,0.900,855.3,284.73,5.710
137,Bamboozler 14 Mk III,NaN,NaN,2046,43.06%,2.81,3.09,0.910 <,0.936,1.029,1.74,0.579,710.9,236.90,4.670
138,Cherry H-3 Nozzlenose,NaN,NaN,1898,47.58%,3.00,3.40,0.881 <,0.998,1.133,2.12,0.706,830.8,276.65,5.562

In [10]:
dframe_spla = dframe_list_spla[0]

In [11]:
dframe_spla

,Weapon,Sub Weapon,Special,Players,Win %,Avg Kills,Avg Deaths,Kill Ratio,Kills/min,Deaths/min,Avg Specials,Specials/min,Avg Inked,Inked/min,Inking Performance
0,Sploosh-o-matic,NaN,NaN,213288,51.90%,2.73,3.85,0.710 <,0.901,1.269,2.18,0.717,924.5,304.84,6.360
1,Splat Roller,NaN,NaN,168517,46.59%,3.73,3.80,0.983 <,1.231,1.251,1.26,0.416,630.9,207.96,4.326
2,N-ZAP '89,NaN,NaN,165945,48.43%,2.88,3.18,0.906 <,0.950,1.048,2.57,0.845,834.5,274.82,5.514
3,N-ZAP '85,NaN,NaN,163901,51.05%,3.27,3.56,0.919 <,1.074,1.169,2.20,0.722,842.9,277.00,5.696
4,Splattershot,NaN,NaN,147358,49.10%,3.73,3.72,1.000 >,1.222,1.221,1.48,0.486,764.7,250.74,5.220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,Rapid Blaster Pro Deco,NaN,NaN,3783,43.85%,2.94,3.21,0.915 <,0.965,1.055,1.93,0.635,646.8,212.41,4.281
135,Tenta Camo Brella,NaN,NaN,3509,49.42%,2.78,3.56,0.780 <,0.927,1.188,1.91,0.636,789.0,263.00,5.334
136,Permanent Inkbrush,NaN,NaN,3072,52.21%,2.51,3.36,0.747 <,0.834,1.117,2.70,0.900,855.3,284.73,5.710
137,Bamboozler 14 Mk III,NaN,NaN,2046,43.06%,2.81,3.09,0.910 <,0.936,1.029,1.74,0.579,710.9,236.90,4.670
138,Cherry H-3 Nozzlenose,NaN,NaN,1898,47.58%,3.00,3.40,0.881 <,0.998,1.133,2.12,0.706,830.8,276.65,5.562

In [12]:
dframe_spla.columns

Index(['Weapon', 'Sub Weapon', 'Special', 'Players', 'Win %', 'Avg Kills',
       'Avg Deaths', 'Kill Ratio', 'Kills/min', 'Deaths/min', 'Avg Specials',
       'Specials/min', 'Avg Inked', 'Inked/min', 'Inking Performance'],
      dtype='object')